<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net451" />
  <package id="IdokladSdk" version="2.2.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
  <package id="PostSharp" version="5.0.29" targetFramework="net451" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation" version="5.0.29" targetFramework="net451" developmentDependency="true" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="5.0.29" targetFramework="net451" />
  <package id="PostSharp.Patterns.Common" version="5.0.29" targetFramework="net451" developmentDependency="true" />
  <package id="PostSharp.Patterns.Common.Redist" version="5.0.29" targetFramework="net451" />
  <package id="PostSharp.Patterns.Model" version="5.0.29" targetFramework="net451" developmentDependency="true" />
  <package id="PostSharp.Patterns.Model.Redist" version="5.0.29" targetFramework="net451" />
  <package id="PostSharp.Redist" version="5.0.29" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="TogglAPI.Net" version="0.2" targetFramework="net451" />
</packages>